
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Admin" asp-action="Index" method="post">
    <input type="text" name="adminname" />

    <input type="text" name="adminpass" />
    <input type="submit" value="login" asp-route-adminname="adminname"/>
</form> 
