@*@model 
@{
    ViewData["Title"] = "Upsert";
}

<form method="post" asp-action="Upsert">
    <div class="p-3 col-6">
        <input type="hidden" asp-for="Id" />
        <h2 class="text-success pl-3">Add Book</h2>
        <div class="row col-6">
            <div class="pb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="pb-3">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="pb-3">
                <label asp-for="Page" class="form-label"></label>
                <input asp-for="Page" class="form-control" />
                <span asp-validation-for="Page" class="text-danger"></span>
            </div>
            <div class="pb-3">
                <label asp-for="İmgTitle" class="form-label"></label>
                <input asp-for="İmgTitle" class="form-control" />
                <span asp-validation-for="İmgTitle" class="text-danger"></span>
            </div>

        </div>

        <div class="col-3 text-end">

            @{
                if (Model.Id == 0)
                {
                    <input type="submit" class=" btn btn-success w-100" value="Create" />
                }
                else
                {
                    <input type="submit" class="btn btn-success w-100" value="Update" />
                }
            }
        </div>
    </div>

</form>*@