@model MvcBook.Models.ViewModels.BooksVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>

        @foreach (var item in Model.Books1)
        {
            
                <tr>
                    <td>@item.B_Id</td>
                </tr>
 
        }
           
    </table>
</div>
