@model IEnumerable<MvcWorkspace.Models.DenemeData>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
<a asp-for="Index" >
        @foreach (var item in Model)
        {
            
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Adi</td>
                    <td>@item.SayfaSayisi</td>
                </tr>
 
        }
           </a>
    </table>
</div>
