@model IEnumerable<MvcWorkspace.Models.DenemeData>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
      
        <tr>
            @foreach (var item in Model)
            {
                <td>  <a asp-action="BookInfo" asp-route-Id="@item.Id">@item.Id </a></td>
                <td>@item.Adi</td>
                <td>@item.SayfaSayisi</td>
            }
        </tr>
       
    </table>
</div>
