@model@* IEnumerable<Model>*@
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="h4 pb-2 mb-4 text-success border-bottom border-success">
        KÜTÜPHANE
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class=" col-4 mb-5">
                <div class="card" style="width: 15rem;">
                    <img src="~/images/Book/@item.">
                    <div class="card-body">
                        <h5 class="card-title">@item.</h5>
                        <a asp-controller="" asp-action="" asp-route-id="@item.Id" class=" btn btn-success" type="su">Ayrıntı</a>
                        @*Bu sayfa BookInfo sayfasına gidecektir.*@
                    </div>
                </div>
            </div>

        }

    </div>

</div>