@*<form method="post" asp-action="">
   
    <div class="heading col-6">
        <h1 class="text text-large">Create an account</h1>
        <input type="hidden" asp-for="" />
    </div>
   
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label">Name</label>
        <input asp-for="" class="form-control">
    </div>
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label">Last Name</label>
        <input asp-for="" class="form-control">
    </div>
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label">Email</label>
        <input asp-for="" class="form-control">
    </div>
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label">BirthDay</label>
        <input asp-for="" class="form-control">
    </div>
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label">SignUpDay</label>
        <input asp-for="" class="form-control">
    </div>
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label">Password</label>
        <input asp-for="" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class=" col-6 mb-3">
        <a asp-controller="" asp-action="" type="submit" class="btn btn-primary">Submit</a>
        @*Signup sayfasına gidecektir.
       
    </div>
</form>*@
<h1>WTF</h1>
