@model
@{
    ViewData["Title"] = "UserSignUp";
}



<form method="post" asp-action="">
    <div class="heading col-6">
       
        <h1 class="text text-large">Sign In</h1>
        <p class="text text-normal">
            New user? <span> <a asp-controller="" asp-action="" class="text-success">Create an account</a></span>
          @*  CreatAccount sayfasına gidecek*@
        </p>
        
    </div>
    <div class=" col-9 mb-3">
        <label asp-for="" class="form-label text-success spinner-border-sm">Email address</label>
        <input asp-for="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <span asp-validation-for="" class="text-danger"></span>
    </div>
    <div class=" col-6 mb-3">
        <label asp-for="" class="form-label text-success spinner-border-sm">Password</label>
        <input asp-for="" type="password" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class=" col-6 mb-3">
        <button asp-controller="" asp-action="" asp-route-id="" type="submit" class="btn btn-success">Submit</button>
      @*  Home/ındex sayfasına gidecek*@
    </div>
</form>