 @model MvcBook.Controllers.HomeController
@{
    ViewData["Title"] = "Home Page2";
}

<form asp-controller="Home" asp-action="UserLogin">
    <input type="text" name="username" />

    <input type="text" name="userpass" />
    <input type="submit" value="login" asp-route-username="username"/>
</form> 
